@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 1em auto;
}

h1,
h2 {
  margin: 0.4em 0;
}

p {
  margin: 0.3em 0;
}

ul li {
  margin: 0 1em;
}

a {
  text-decoration: none;
}

ul li:not(:first-child) {
  margin-top: 0.2em;
}

a:visited {
  color: blue;
}

nav {
  width: 80%;
  padding: 2em;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  column-gap: 1em;
}

nav ul li {
  margin: 0;
  list-style-type: none;
  color: black;
}

nav ul li:not(:first-child) {
  margin-top: 0;
}
